[mcu]
serial: /dev/ttyS0
baud: 250000


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100


#################################################
# X Axis
#################################################

[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.29
position_endstop: 0
position_max: 235
homing_speed: 50


[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.80
hold_current: 0.50
stealthchop_threshold: 999999


#################################################
# Y Axis
#################################################

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.28
position_endstop: 0
position_max: 210  # NOTE: temporary Y travel limit
homing_speed: 50


[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.80
hold_current: 0.50
stealthchop_threshold: 999999


#################################################
# Z Axis
#################################################

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250


[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.70
hold_current: 0.40
stealthchop_threshold: 999999


#################################################
# Extruder (BMG clone)
#################################################

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16

rotation_distance: 22.678
gear_ratio: 50:17

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24

control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114

min_temp: 0
max_temp: 260

pressure_advance: 0.04


[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.85
hold_current: 0.50
stealthchop_threshold: 999999


#################################################
# Heated Bed
#################################################

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25

control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182

min_temp: 0
max_temp: 130


#################################################
# Fans
#################################################

[fan]
pin: P2.3


#################################################
# BLTouch / 3DTouch
#################################################

[bltouch]
sensor_pin: ^P1.27
control_pin: P2.0
x_offset: -42
y_offset: -5
z_offset: -2.90


#################################################
# Safe Z Homing
#################################################

[safe_z_home]
home_xy_position: 117,102
speed: 80
z_hop: 10
z_hop_speed: 5


#################################################
# Bed Mesh
#################################################

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 20,20
mesh_max: 210,205   # NOTE: Y limited to 210
probe_count: 5,5
algorithm: bicubic


#################################################
# Virtual SD
#################################################

[virtual_sdcard]
path: ~/printer_data/gcodes


[pause_resume]

[display_status]

[idle_timeout]
timeout: 1800
